rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        match /secrets/{document=**} {
            allow read: if true;
            allow create: if !exists(/databases/$(database)/documents/messages/$(request.resource.id));
        }
    }
}